<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Adminpanel রাউট ঠিক রাখা
    RewriteRule ^adminpanel(?:/|$) - [L]

    # ফাইল বা ফোল্ডার সরাসরি থাকলে তা লোড করবে
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # বাকি সব Nuxt SPA রাউটিংয়ের জন্য index.html এ যাবে
    RewriteRule ^ index.html [L]
</IfModule>